.container {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-style: hidden;
    border-radius: 15px;
    padding: 18px;
    text-align: center;
    box-shadow: 0 8px 6px -6px black;
  }