button {
  text-align: center;
  align-content: center;
}
.searchBar {
  width: 20%;
}

.navText {
  color: aqua;
  font-size: 12px;
}
p {
  margin-left: 1rem;
  margin-right: 1rem;
}

Navbar {
  width: 100%;
}

.fahover {
  color: aqua;
}

th {
  font-size: 20px;
  text-align: center;
  background-color: rgb(48, 35, 39);
  color: #fff;
  position: block;
}

.heading {
  display: flex;
  justify-content: center;
}

.sortIcon {
  padding-left: 5px;
  padding-top: 5px;
  position: relative;
  flex-direction: column;
}

.navbar-dark .navbar-brand {
  color: #fff;
  font-size: 26px;
}

.display-inlineb {
  display: inline-block;
  position: relative;
  font-size: large;
}

.react-search-field {
  min-width: 70%;
}


.styledButton {
  background-color: #000000;
  margin-left: 15px;
  padding: 7px 0px;
  border: 1px solid #fff;
  font-size: 14px;
  transition: all 0.25s ease-in-out;
  text-transform: none;
  border-radius: 3px;
  font-family: "Jim Sans Regular",Arial;
  width: 169px;
  height: 36px;
  align-items: center;
  text-align: center;
  color: #fff;
  background-position: left top;
  text-decoration: none;
}

img {
  border-radius: 30%;
}

.container{
    border-radius: 15px;
    padding: 18px;
    text-align: center;
    box-shadow: 3px 3px rgba(0, 0, 255, .2), -1em 0 .4em olive;
    padding: 10px 5px;
    margin: 10px 0;
    border: 1px solid #ced4da;
    justify-content: space-between;
    text-align: justify;
    
}

.table>tbody>tr>td{
  vertical-align: middle;
  text-align: center;
}

.table>thead>tr>th{
  vertical-align: middle;
  text-align: center;
}

.left{
text-align: left;
}

.right{
  text-align: right;
}

#document-type{
  background-color: #000;
  font-size: 15px;
}

.styledButton:hover {
  color: #000;
  background-color: rgb(235, 132, 132);
}

#document-type:hover{
  color: #000;
  background-color: rgb(235, 132, 132);
}

td{
  font-size: 16px;
}

.tableImage{
  height: 60px;
}