button {
  text-align: center;
  align-content: center;
}
.searchBar {
  width: 20%;
}

.navText {
  color: aqua;
  font-size: 12px;
}
p {
  margin-left: 1rem;
  margin-right: 1rem;
}

Navbar {
  width: 100%;
}

.fahover {
  color: aqua;
}

th {
  font-size: 18px;
  text-align: center;
  background-color: rgb(48, 35, 39);
  color: #fff;
}

.heading {
  display: flex;
  justify-content: center;
}

.sortIcon {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

.navbar-dark .navbar-brand {
  color: #fff;
  font-size: 26px;
}

.display-inlineb {
  display: inline-block;
  position: relative;
  font-size: large;
}

.react-search-field {
  min-width: 70%;
}


img {
  border-radius: 30%;
}

.container{
    border-radius: 15px;
    padding: 18px;
    text-align: center;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    box-shadow: 3px 3px rgba(0, 0, 255, .2), -1em 0 .4em olive;
    padding: 10px 5px;
    margin: 10px 0;
    border: 1px solid #ced4da;
    justify-content: space-between;
    text-align: justify;
}

.left{
text-align: left;
}

.right{
  text-align: right;
}

#document-type{
  background-color: coral;
  font-size: 15px;
}

#document-type:hover{
  background-color: rgb(49, 16, 236);
}